*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: #dadada;
  font-size: 10px;
  font-family: Helvetica, Arial, sans-serif;
  display: block;
}

h1 {
  text-align: center;
}

.container {
  margin: 20px auto;
  width: 90%;
}

.emphasis {
  height: 50px;
  text-transform: uppercase;
  font-size: 1.8em;
}

div {
  height: 300px;
  width: 100%;
  display: inline-block;
  margin: 20px auto;
  float: left;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 3em;
}

@media screen and (min-width: 575px){
   div {
     margin: 1%;
     width: 48%;
  }
}

@media screen and (min-width: 991px){
   div {
     margin: 1%;
     width: 23%;
  }
}

.preview h1 {
  text-align: left;
  margin-left: 5%;
  font-family: Georgia, serif;
  font-size: 2.5em;
  }

div.baku {
  background-image: url(../images/baku.jpg);
}

div.london {
  background-image: url(../images/london.png);
}

div.madrid {
  background-image: url(../images/madrid.jpg);
  background-position: left;
  }

div.rome {
  background-image: url(../images/rome.jpg);
}
